/* this is style to my css
.para{
 color: rgb(27, 19, 19);
 border: 8px solid red;
border-radius: 10px;
padding: 20px 20px 20px 20px;
margin: 200px;
text-align: left;
} */

/* HTML COLOR CODE - WEBSITE - WWW.RAPIDTABLES.COM  */
/* FOR COLOR CHOICE - COLORHUNT.COM */
BODY{
    /* background-color: rgb(247, 247, 247);
    /* background-image: url(./yashimages/vsuimage.png); */
}
/* a{
    color: green;
}
a :hover{
    color: red; */ */
}

img{
    align-content: center;
    margin: 50px;
}